.container {
  margin: 20px auto;
  width: 600px;
  color: white;
}
th {
  text-align: left;
}


body {
background: url("/img/fitness.jpg");
}

h1 {
	color: black;
	font-size: 80px;
}

h2 {
	color: black;
	margin-top: 80px;
}

.exercise {
	color: black;
	font-size: 30px;
}

// put a div on the entire thing and a div for each.  