<div class="container">
  <h1>Press for Workout</h1>

  <form action="/workout" method="get">
    <input type="submit" value="Go">
  </form>


<%# <a href="/videos" class='button'>Create New Post</a> %>


</div>





