<div class="container">
  <h1>Press for Workout</h1>

  <form action="/workout" method="get" id="whodat">
    <input type="submit" value="Go" name="ogyowgowfhfemail">
  </form>



<%# <a href="/videos" class='button'>Create New Post</a> %>


</div>





